<h1>Projects</h1>
<div>
    <app-project projectName="abus.sh" projectLink="#">
        This website was created using Angular. Was that overkill? Probably. Could this have been
        a static website? Almost certainly. I just wanted to leave the door open to further
        interactivity in the future.
    </app-project>
    <app-project projectName="Ory Kratos and Hydra">
        As part of a final project for an infrastructure security, I deployed
        <a href="https://www.ory.sh/kratos/">Ory Kratos</a> and
        <a href="https://www.ory.sh/hydra/">Ory Hydra</a> to create OAuth integration with a custom
        website I created. Users could create accounts with Ory Kratos and access to my custom site
        with Ory Hydra.
    </app-project>
    <app-project projectName="Personal Budget Web App">
        As part of a final project for a network app development class, I created and deployed a
        personal budget app. The project used Angular, Node, Express, and MySQL. Users could create
        budgets, enter expenses, and see their view their spending over time with different
        visualizations.
    </app-project>
    <app-project projectName="Daily Loss">
        Daily Loss was a website and bot that posted new images every day of a certain Internet
        meme. It cross-posted the images on a website
        (<a href="https://dailyloss.net">dailyloss.net</a>, which no longer exists), Discord,
        Mastodon, and Bluesky.
    </app-project>
    <app-project projectName="The Throngler">
        Once ████ ████, though removed ████ ████ ████ ████ national security. ████ ████ ████ failed
        catatrophically ████ ████ ████ ████. Advised against ████ ████ ████.
    </app-project>
</div>