@import "../../variables.scss";

div {
    border: 5px solid $project-border-color;
    border-radius: 5px;
    padding: 0.75em;
    width: 25em;
    height: 12em;
}

h2 {
    margin-top: 0;
    margin-bottom: 0.25em;
    text-align: center;
}

a {
    color: $body-txt-color;
}