<nav>
    <div class="site">
        <ul>
            <li>
                <a routerLink="/" class="title">abus.sh</a>
            </li>
            <li>
                <a routerLink="/projects">Projects</a>
            </li>
        </ul>
    </div>
    <div class="social">
        <ul>
            <li>
                <a href="https://github.com/abus-sh/" class="fa-brands fa-github fa-inverse fa-2xl"></a>
            </li>
            <li>
                <a href="https://bsky.app/profile/abus.sh" class="fa-brands fa-bluesky fa-inverse fa-2xl"></a>
            </li>
        </ul>
    </div>
</nav>