$header-bg-color: #2B3D41;
$header-txt-color: #FFFFFF;

$body-bg-color: #FFFFFF;
$body-txt-color: #000000;

$project-border-color: #2B3D41;

/*
Colors to play with:Projects
- #00B295
- #4C5F6B
- #AB2346
*/