<h1>Welcome to abus.sh!</h1>
<div>
    <aside>
        <figure>
            <img src="/abus.png" alt="A poorly drawn moth rendered in only black and white.">
            <figcaption>Abus, my personal symbol.</figcaption>
        </figure>
    </aside>
    <section>
        <p>
            Hello there! This website is my combination portfolio and miscellanious domain to host
            projects that are finished or in development. I am currently studying for a master's
            degree in cybersecurity, which I anticipate finishing during 2025. Some of the projects
            are from my academic career, while others are random ideas and jokes that I've created
            over the years.
        </p>
        <p>
            Perhaps my longest-lasting joke is Abus, shown left, which has become my personal crest.
            Abus is a "moth" (for a very loose definition of moth) that I created in MS Paint in 30
            seconds as a character for a game.
        </p>
        <p>
            To see my projects, you can check <a href="/projects">this</a> page.
        </p>
    </section>
</div>